streamlit
langchain
ipykernel
langchain-community
bs4
langchain-openai
langchain_huggingface
faiss-cpu
langchain_groq
langchain_chroma
datasets
sentence-transformers==2.2.2
torch==2.0.1
chromadb==0.4.15
peft
pysqlite3-binary
python-dotenv
pypdf
