streamlit
langchain
ipykernel
langchain-community
bs4
langchain-openai
langchain_huggingface
faiss-cpu
langchain_groq
langchain_chroma
datasets
sentence-transformers
torch
chromadb
peft
pysqlite3-binary
python-dotenv
pypdf
